# ignore .idea and .vscode dirs
.idea
.vscode

# ignore .env file
.env

# ignore node_modules and yarn.lock
node_modules
yarn.lock

# ignore build and dist dirs
build
dist

# ignore coverage dir
coverage

# ignore pycache dirs
__pycache__

# ignore other IDEs
eclipse

# ignore other IDEs
pycharm

# ignore other IDEs
intellij