# Ignore node_modules and yarn.lock
node_modules/
yarn.lock

# Ignore IDE files
.idea/
.vscode/

# Ignore build artifacts
build/

# Ignore Docker files
docker/

# Ignore Python cache
__pycache__/

# Ignore virtualenv
venv/